<section class="auth login" id="{{blockId}}">
  <h2 class="auth__title">Вход</h2>
  <form class="auth__form" name="login">
    <label class="auth__label">
      <input class="auth__input" placeholder="Логин" type="text" name="login" />
      <span class="auth__input-error">{{login_error}}</span>
    </label>
    <label class="auth__label">
      <input
        class="auth__input"
        placeholder="Пароль"
        type="password"
        name="password"
      />
      <span class="auth__input-error">{{password_error}}</span>
    </label>
    <div class="auth__actions">
      <button class="auth__submit" type="submit">Авторизоваться</button>
      <a class="auth__link" href="/register">Нет аккаунта?</a>
    </div>
  </form>
</section>
