<div class="overlay overlay-remove-user" id="{{blockId}}">
  <section class="dialog">
    <h3 class="dialog__title">Удалить пользователя</h3>
    <form name="remove-user">
      <label class="dialog__label">
        <span class="dialog__label-text">Логин</span>
        <input
          class="dialog__input"
          placeholder="Логин"
          type="text"
          name="login"
        />
      </label>
      <button class="dialog__submit" type="submit">Удалить</button>
    </form>
  </section>
</div>
