<div class="overlay overlay-change-password">
  <section class="auth dialog change-password">
    <h2 class="auth__title">Изменение пароля</h2>
    <form class="auth__form" name="change-password">
      <label class="auth__label">
        <span class="auth__label-text">Старый пароль</span>
        <input class="auth__input" placeholder="Старый пароль" type="password" name="oldPassword">
      </label>
      <label class="auth__label">
        <span class="auth__label-text">Новый пароль</span>
        <input class="auth__input" placeholder="Новый пароль" type="password" name="newPassword">
      </label>
      <label class="auth__label">
        <span class="auth__label-text">Новый пароль (ещё раз)</span>
        <input class="auth__input" placeholder="Новый пароль (ещё раз)" type="password" name="password_repeat">
      </label>
      <div class="auth__actions">
        <button class="auth__submit" type="submit">Сохранить</button>
      </div>
    </form>
  </section>
</div>
