@import './vendor/normalize';
@import 'vars';
@import './pages/server-error';
@import './pages/profile/profile';
@import './pages/chats/chats';
@import './components/login-form/login-form';
@import './components/register-form/register-form';
@import './components/auth';
@import './components/dialog';
@import './components/load-file-dialog/load-file-dialog';
@import './components/clip-menu/clip-menu';
@import './components/chat-menu/chat-menu';
@import './components/menu';
@import './components/change-user-data-dialog/change-user-data-dialog';
@import './components/change-password-dialog/change-password-dialog';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.opened {
  display: flex;
}

button:hover {
  cursor: pointer;
}

button[type='submit'][disabled] {
  cursor: auto;
  background: gray;
}

.nav-menu {
  padding: 10px;
  text-align: center;

  a {
    color: #fff;
  }
}
